{
    "api_token": "MYAPITOKEN",
    "irc_token": "MYIRCTOKEN",
    "client_id": "MYCLIENTID",
    "nick": "WordSmith",
    "channels": {
        "cocoscrabble": {
            "alphabet": "ABCDEFGHIJKLMNOPQRSTUVWXYZ?",
            "lexicon": "csw#",
            "command_blacklist": []
        }
    },
    "discord": {
      "token": "MYTOKEN",
      "guild": "MYGUILDID",
      "lexicon": "csw#"
    }
}
